@*@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<ACuteArtInterface.Models.UserModel>

<link href="@Url.Content("~/css/PagedList.css")" rel="stylesheet" type="text/css" />

<div class="panel panel-default" id="filter">
    <table class="table">
        <thead>
            <tr>
                <th><a asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a></th>
                <th>Last Name</th>
                <th>Email</th>
                <th><input type="hidden" name="ExhibitinId" asp-for="@ViewData["exhibitionId"]" value="@ViewData["ExhibitionId"]" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @Html.HiddenFor(model => item.UserId);
                <tr>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>

                    @{ var link = @ViewData["exhibitionId"] + "?userId=" + item.UserId;}
                    <td><a href=@link class="btn btn-success btn-xs close" data_dismiss="modal" data_toggle="modal" data_target="#myModal">Select User</a></td>
                    <td>@Html.ActionLink("Select User", "Edit", "Exhibition", new { id = @ViewData["exhibitionId"], userId = item.UserId }, new { @class = "btn btn-success btn-xs close", data_dismiss = "modal", data_toggle = "modal", data_target = "#myModal" })</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div id="myPager">
    <p>
        Find by Name/E-Mail: <input id="SearchString" name="SearchString" type="text" value="" />
        <input type="button" value="Search" id="btnSearch" /> | <input type="button" value="Clear Filter" id="btnClear" />
    </p>
    @Html.PagedListPager((X.PagedList.IPagedList)Model,
              page => Url.Action(
                  "SearchUser",
                  new
                  {
                      sortOrder = ViewBag.CurrentSort,
                      currentFilter = ViewBag.CurrentFilter,
                      searchString = ViewBag.SearchString,
                      pageNumber = page,
                      exhibitionId = @ViewData["exhibitionId"]
                  }
              )
          )
</div>

<script>

    //Everytime we press delete in the table row
    $('.close').click(function (e) {
        e.preventDefault();
        $('#myModal').modal('hide');
        //var newUrl = window.location.origin + window.location.pathname + "?userId=" + e.userId;
        //window.location.href = newUrl;

        //location.reload();
    });

    window.addEventListener("popstate", function (e) {
        $.ajax({
            url: location.href,
            success: function (result) {
                $('#Preview').html(result);
            }
        });
    });

    $('#myPager').on('click', 'a', function (e) {
        //prevent action link normal functionality
        e.preventDefault();
        if (this.href != null && this.href != "") {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#Preview').html(result);
                }
            });
            return false;
        }
    });

    $('#filter').on('click', 'a', function (e) {
        //prevent action link normal functionality
        e.preventDefault();
        if (this.href != null && this.href != "") {
            $.ajax({
                url: this.href,
                type: 'GET',
                data: { sortOrder: "NameSortParm", currentFilter: $("#SearchString").val(), searchString: $("#SearchString").val(), exhibitionId: @ViewData["ExhibitionId"]  },
                cache: false,
                success: function (result) {
                    $('#Preview').html(result);
                }
            });
            return false;
        }
    });

    $(function () {
        $("#btnSearch").click(function () {
            search();
        });

        $("#btnClear").click(function () {
            clear();
        });

        $("#SearchString").keypress(function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });

        $("#btnSelectUser").click(function () {
            selectUser();
        });

        function selectUser() {

            $.ajax({
                url: "/Exhibition/SearchUser",
                data: { exhibitionId: $("#exhibitionId").val(), userId: $("#selectedUserItem").val() },
                success: function (result) {
                    $('#Preview').html(result);
                }
            });
        }

        function search() {

            $.ajax({
                url: "/Exhibition/SearchUser?searchString=" + $('#SearchString').val() + "&exhibitionId=" + @ViewData["ExhibitionId"],
                success: function (result) {
                    //ChangeUrl("index", "/Exhibition/SearchUser?searchString=" + $('#SearchString').val());
                    $('#Preview').html(result);
                }
            });
        }

        function clear() {
            $.ajax({
                url: "/Exhibition/SearchUser?exhibitionId=" + @ViewData["ExhibitionId"],
                success: function (result) {
                    $('#Preview').html(result);
                }
            });
        }
    });
</script>*@
