@model PaginatedList<ACuteArtInterface.Models.ArtistModel>

<link href="@Url.Content("~/css/modal.css")" rel="stylesheet" type="text/css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/1.0.5/jquery.tablednd.min.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/1.0.5/jquery.tablednd.js" asp-append-version="true"></script>

@{ ViewData["Title"] = "Artists"; }

<h1>Artists</h1>

<script type="text/javascript">
    $(function () {

        // Initialise the first table (as before)
        //$("#table-1").tableDnD();

        //$("#btnSaveOrder").click(function () {

        //    var items = $("#table-1 row");
        //    alert(items);
        //    var linkIDs = [items.size()];
        //});
        
    });

</script>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Name/Description: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<form asp-action="ReOrder" method="post">
<table class="table" id="table-1" >
    <thead>
        <tr>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a></th>
            <th>Full Name</th>
            <th>Description</th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["OrderSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Order</a></th>
            <th>Active</th>
            <th>Image Url</th>
            <th>Thumb Url</th>
            <th>Icon Url</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var img = 0; var thb = 0; var icn = 0;
            foreach (var item in Model)
            {
                var dataTargetImageUrl = "modelShowPictureImage" + item.ArtistId + img;
                var dataTargetThumbUrl = "modelShowPictureThumb" + item.ArtistId + thb;
                var dataTargetIconUrl = "modelShowPictureIcon" + item.ArtistId + icn;

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NameEn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FullNameEn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DescriptionEn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Order)
    </td>
    <td>
        @( item.Active ? "Yes" : "No" )
    </td>
    <td>
        <!-- Modal -->
        <div id=@dataTargetImageUrl class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@item.NameEn Image URL Picture</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img src=@item.ImageUrl />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" data-toggle="modal" data-target="#@dataTargetImageUrl">Show</button>
    </td>
    <td>
        <!-- Modal -->
        <div id=@dataTargetThumbUrl class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@item.NameEn Thumb URL Picture</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img src=@item.ThumbUrl />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" data-toggle="modal" data-target="#@dataTargetThumbUrl">Show</button>
    </td>
    <td>
        <!-- Modal -->
        <div id=@dataTargetIconUrl class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@item.NameEn Thumb URL Picture</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img src=@item.IconUrl />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" data-toggle="modal" data-target="#@dataTargetIconUrl">Show</button>
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.ArtistId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ArtistId">Details</a>
    </td>
    <td></td>
</tr>
 img++; thb++; icn++;
} }
    </tbody>
</table>
</form>
@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>


@*<h2>Claim details</h2>
    <ul>
        @foreach (var claim in User.Claims)
        {
    <li><strong>@claim.Type</strong>: @claim.Value</li>}
    </ul>*@
